@charset "utf-8";
/* CSS Document */

/* paddin: Alto Ancho ((Rellenos dentro | margin: Alto Ancho (Rellenos fuera del borde) */

/* Configuracion página principal */
*	{
	padding:0px 0px;
	margin:0px 0px;
} 
/* Configuración del body */
body	{
	padding:0px 0px;
	text-align:center;
	margin:0px 0px;
}
.Tabla
{
	display: table;
	width:100%;
	height:100%;
}
.Titulo
{
	width:100%;
	height:40px;
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.Cabecera
{
	width:100%;
	height:40px;
	display: table-row;
}
.Celda
{
	width:100px;
	height:200px;
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;	
}
.Celda:hover
{
	opacity:0.7;
	cursor: pointer;
}
.Fila
{
	display: table-row;
}
/* .fila_1 */
/* { */
/* 	clear:left; */
/* 	float:left; */
/* 	background-color:#BBB; */
/* } */
/* .fila_2 */
/* { */
/* 	clear:left; */
/* 	float:left; */
/* 	background-color:#AFF; */
/* } */
div                                                                      
{
	border-collapse: collapse;
}
.marquee	
{
	loop=infinite;
	background-color:rgba(0,0,0,0.8);
	width:100%-;
	height:20px;
	text-decoration:none;
	font-family:"MS Serif", "New York", serif;
	border-bottom:1px solid #0ca9e4;
	border-top:1px solid #0ca9e4;
	color:#FFF;
}
